.categorias__scrollHorizontal{
    display: flex;
    overflow-x: scroll;
    width:100%;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    gap: 12px;
}
.categoria__cont{

    flex: 0 0 30%;
    scroll-snap-align: start;
    display: flex;
    border-radius: 10px;

    background-color: white;
    margin-top: 5px;
    padding: 3px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--Gris);
    
}
.categoria__cont i{
    font-size: 1.5rem;
}
.c{
    display: none;
}
@media (min-width: 1024px){
    .categorias__scrollHorizontal{
        display: none;
    }   

}